    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2"><br><br><br>
                        <h1 class="brand-heading">Atkere Anantha Srinivas Pai & Sons</h1>
                        <p class="intro-text">In touch with history and our destiny<br>Since 1983</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>